<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background-color: #FFDEE9;
             background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
             background-repeat: no-repeat;
             background-size:100% 1500px;
            }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(207, 183, 228);">
        <div class="container-fluid">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active fs-5 ms-3" aria-current="page" href="{% url 'transaction-list' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-5 ms-4" href="{% url 'transaction-add' %}">Add transaction</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li> -->
            </ul>
            
            <form class="d-flex" style="margin-left: 1100px;"> 
              <a href="{% url 'signout' %}" class="btn me-2 text-white" style="background-color: rgb(139, 200, 214);">Log out</a>
          </form>
      
          </div>
        </div>
      </nav>
    
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 p-4 shadow border-2" style="margin-top:100px;background-color:cadetblue;border-radius: 45px;">
                <h1 class="text-center fw-bolder ">Edit Transaction</h1>
                <form action="" method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    {{form.as_p}}

                    <button type="submit" class="btn btn-warning fw-bolder rounded-pill" style="margin-left:350px;width:120px;box-shadow: 2px 3px 4px black;">change</button>

                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

</body>
</html>